In [ ]:
from From_Shelter_to_Love.data_provisoria import get_data

In [ ]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [ ]:
df = get_data()

In [7]:
df.head(3)

,Animal ID,Intake Type,Intake Condition,Animal Type,Breed,Outcome Type,days_in_shelter,age_upon_intake_months,age_upon_intake_years,age_upon_outcome_months,age_upon_outcome_years,neutered_or_spayed,male_or_female
0,A006100,Public Assist,Normal,Dog,Mixed,Return to Owner,2.0,72.0,6.0,72.0,6.0,1,1.0
1,A047759,Owner Surrender,Normal,Dog,Dachshund,Transfer,5.0,120.0,10.0,120.0,10.0,1,1.0
2,A134067,Public Assist,Injured,Dog,Shetland Sheepdog,Return to Owner,1.0,192.0,16.0,192.0,16.0,1,1.0