# EDA - Exploratory Data Analysis   

- Distribution of the variable we want to predict (days_in_shelter)
- Plot and visualize the other features
- Correlation between target and the other features

In [2]:
from From_Shelter_to_Love.data_provisoria import get_data

In [3]:
#imports
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
df = get_data()
df.head(2)

,Animal ID,Intake Type,Intake Condition,Animal Type,Breed,Outcome Type,days_in_shelter,age_upon_intake_months,age_upon_intake_years,age_upon_outcome_months,age_upon_outcome_years,neutered_or_spayed,male_or_female,group_color
0,A006100,Public Assist,Normal,Dog,Mixed,Return to Owner,2.0,72.0,6.0,72.0,6.0,1,1.0,Yellow
1,A047759,Owner Surrender,Normal,Dog,Dachshund,Transfer,5.0,120.0,10.0,120.0,10.0,1,1.0,Tricolor

## Exploring target variable - Days in Shelter   
- Compute simple statistics for the target variable (min, max, mean, std, etc)   
- Plot distributions

In [8]:
# Statistics for the target variable
df.days_in_shelter.describe()

count    102725.000000
mean         19.717089
std          42.652623
min           1.000000
25%           3.000000
50%           6.000000
75%          18.000000
max        1522.000000
Name: days_in_shelter, dtype: float64